.search-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--c-neutral-300);
}

.search-error__msg {
  font-weight: var(--fw-300);
  font-size: var(--fs-300);
  max-width: 321px;
  line-height: var(--lh-100);
}
